
body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: #000000;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    height: 80px;
    width: auto;
}
.logo h1 {
    color:white;
    font-size: 24px;
}

.logo-link {
    text-decoration: none;
}
.logo-link :hover{
    color:#fca311
}
.lista-do-nav {
    display: flex;
    list-style: none;
    align-items: center;
}
.lista-do-nav li {
    margin-left: 25px;
}
.lista-do-nav a {
    text-decoration: none;
    color:white;
    font-size: 22px;
}
.lista-do-nav :hover{
    color:#fca311;
}
.banner-principal {
    position: relative;
    min-height: 150px;
    height: 100vh;
}
.banner {
    width: 100%;
    height: 85%;
}
    .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 40%;    
}
.btn-produtos {
    position: absolute;
    top: 550px;
    left: 41%;
}
.btn-produto {
    padding: 18px 40px;
    background-color:#14213d;
    color:white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
}